*{
    margin: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 250px;
    background-color: rgb(2, 2, 133);
    display: flex;
    justify-content: center;
}
.row{
    width:900px ;
    height: 60%;
    display: flex;
    margin: auto;
    background-color: palevioletred;

}