*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    
}
header{
    background-color: purple;
}
.head-container{
    max-width: 100%;
    height: 400px;
    background-color: transparent;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center ;

    
}
.row-header{
    width: 70%;
    height: 80%;
    background-color: blue;
}

